
.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #faf0e6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

section {
    min-width: 800px;
    margin: auto;
}

.logo{
    width: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: top; /* 縦方向の中央揃え */
}
.ramen {
    width: 550px; /* 画像の幅 */
    height: auto; /* 高さは自動調整 */
    margin-left: 30px; /* 画像とテキストの間隔 */
    margin-bottom: 100px;
}

.text {
    font-family: "Yuji Syuku", serif;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); /* テキストに影をつける */
    transform: rotate(-8deg); /* テキストを回転させる */
    font-size: 40px; /* テキストのフォントサイズ */
    margin-top: 50px;
}

.text1 {
    font-family: "Yuji Boku", serif;
    font-style: normal;
    font-weight: 1000; /* ブラウザのデフォルトの筆記体フォントを使用 */
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5); /* テキストに影をつける */
    transform: rotate(-8deg); /* テキストを回転させる */
    font-size: 25px; /* テキストのフォントサイズ */
    margin-top: 30px;
}

.header {
    color: #fff;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav ul {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
}

.nav ul li {
    display: inline;
    margin-right: 3rem;
}

.nav ul li a {
    color: #161616;
    text-decoration: none;
}

.banner {
    display: flex; 
    justify-content: center; /* 中央寄せ */
    align-items: center; /* 縦方向にも中央寄せ */
    margin-top:100px;
    margin: 0 auto 50px;
}

.banner img {
    width: 700px;
}

.open {
    font-size:60px;
    text-align: center;
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
    }

.itito {
    font-family: "Shippori Mincho B1", serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 1000;
    color: #161616;
}

.insta {
    width: 80px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: #ffdab9;
    color: #696969;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

@media (max-width: 800px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container{
        display: block;
    }

    .text {
        font-size: 30px;
        width: 70%;
    }

    .text1 {
        font-size: 20px;
        width: 70%;
    }

    .ramen {
        width: 70%;
    }

    .banner {
        margin-top: 100px;
    }

    .banner img {
        width: 600px;
    }

    .open {
        font-size: 40px;
    }

    .itito {
        font-size: 45px;
    }

    .insta {
        width: 50px;
    }

}

@media (max-width: 700px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container{
        display: block;
    }

    .text {
        font-size: 25px;
        width: 60%;
    }

    .text1 {
        font-size: 15px;
        width: 60%;
    }

    .ramen {
        width: 60%;
    }

    .banner {
        margin-top: 50px;
    }

    .banner img {
        width: 400px;
    }

    .open {
        font-size: 35px;
    }

    .itito {
        font-size: 40px;
    }

    .insta {
        width: 40px;
    }

}

@media (max-width: 600px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container{
        display: block;
    }

    .text {
        font-size: 25px;
        width: 53%;
    }

    .text1 {
        font-size: 15px;
        width: 53%;
    }

    .ramen {
        width: 53%;
    }

    .banner {
        margin-top: 40px;
    }

    .banner img {
        width: 400px;
    }

    .open {
        font-size: 35px;
    }

    .itito {
        font-size: 40px;
    }

    .insta {
        width: 40px;
    }

}

@media (max-width: 500px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container{
        display: block;
    }

    .text {
        font-size: 20px;
        width: 50%;
    }

    .text1 {
        font-size: 15px;
        width: 50%;
    }

    .ramen {
        width: 50%;
    }

    .banner {
        margin-top: 30px;
    }

    .banner img {
        width: 400px;
    }

    .open {
        font-size: 30px;
    }

    .itito {
        font-size: 35px;
    }

    .insta {
        width: 50px;}
}

@media (max-width: 400px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container{
        display: block;
    }

    .text {
        font-size: 15px;
        width: 30%;
    }

    .text1 {
        font-size: 10px;
        width: 30%;
    }

    .ramen {
        width: 30%;
    }

    .banner {
        margin-top: 20px;
    }

    .banner img {
        width: 300px;
    }

    .open {
        font-size: 20px;
    }

    .itito {
        font-size: 25px;
    }

    .insta {
        width: 30px;
    }

}




