body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #faf0e6;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
}

section {
    margin: auto;
}

.logo {
    width: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    align-items: top;
}

.ramen {
    width: 550px;
    height: auto;
    margin-bottom: 100px;
}

.text {
    font-family: "Yuji Syuku", serif;
    font-style: normal;
    font-weight: 1000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: rotate(-8deg);
    font-size: 40px;
    margin-top: 50px;
}

.text1 {
    font-family: "Yuji Boku", serif;
    font-style: normal;
    font-weight: 1000;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    transform: rotate(-8deg);
    font-size: 25px;
    margin-top: 30px;
}

.header {
    color: #fff;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav ul {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
}

.nav ul li {
    display: inline;
    margin-right: 3rem;
}

.nav ul li a {
    color: #161616;
    text-decoration: none;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin: 0 auto 50px;
}

.banner img {
    width: 700px;
}

.open {
    font-size: 60px;
    text-align: center;
    font-family: "Yuji Syuku", serif;
    font-weight: 400;
    font-style: normal;
}

.itito {
    font-family: "Shippori Mincho B1", serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: 1000;
    color: #161616;
}

.insta {
    width: 80px;
    margin: 0;
}

.tell {
    width: 80px;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: #ffdab9;
    color: #696969;
    width: 100%;
    bottom: 0;
    font-weight: bold;
}

/* ハンバーガーメニュー用のスタイル */
.hamburger {
    display: none;
    cursor: pointer;
    padding: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

.bar {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu {
    display: none;
    background-color: #f1f1f1;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
}

.menu.show {
    display: block;
}

@media (max-width: 768px) {
    .header, .footer {
        padding: 1rem;
    }
    .hamburger {
        display: inline-block;
    }

    .nav {
        display: none;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .container {
        display: block;
    }

    .text {
        font-size: 30px;
        width: 100%;
    }

    .text1 {
        font-size: 20px;
        width: 100%;
    }

    .ramen {
        width: 100%;
    }

    .banner {
        margin-top: 100px;
    }

    .banner img {
        width: 600px;
    }

    .open {
        font-size: 40px;
    }

    .itito {
        font-size: 45px;
    }

    .insta {
        width: 50px;
    }

    .tell {
        width: 50px;
    }
}

@media (max-width: 700px) {

    .pc-menu {
        display: none;
    }
    
    .mobile-menu{
        margin: 2rem auto 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .text {
        font-size: 25px;
        width: 100%;
    }

    .text1 {
        font-size: 15px;
        width: 100%;
    }

    .ramen {
        width: 100%;
    }

    .banner {
        margin-top: 50px;
    }

    .banner img {
        width: 400px;
    }

    .open {
        font-size: 35px;
    }

    .itito {
        font-size: 40px;
    }

    .insta {
        width: 60px;
    }

    .tell {
        width: 60px;
    }
}

@media (max-width: 600px) {
    .pc-menu {
        display: none;
    }

    .mobile-menu{
        margin: 2rem auto 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .text {
        font-size: 25px;
        width: 60%;
    }

    .text1 {
        font-size: 15px;
        width: 60%;
    }

    .ramen {
        width: 60%;
    }

    .banner {
        margin-top: 40px;
    }

    .banner img {
        width: 400px;
    }

    .open {
        font-size: 35px;
    }

    .itito {
        font-size: 40px;
    }
}

/* ここを使う */
@media (max-width: 500px) {
    .pc-menu {
        display: none;
    }

    .mobile-menu{
        margin: 2rem auto 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .text {
        font-size: 20px;
        width: 50%;
    }

    .text1 {
        font-size: 15px;
        width: 50%;
    }

    .ramen {
        width: 50%;
    }

    .banner {
        margin-top: 30px;
    }

    .banner img {
        width: 300px;
    }

    .open {
        font-size: 30px;
    }

    .itito {
        font-size: 35px;
    }

    .insta {
        width: 50px;
    }

    .tell {
        width: 50px;
    }
}

@media (max-width: 400px) {
    .text {
        font-size: 20px;
        width: 50%;
        
    }

    .text1 {
        font-size: 15px;
        width: 50%;
    }

    .ramen {
        width: 50%;
    }

    .banner {
        margin-top: 20px;
    }

    .banner img {
        width: 300px;
    }

    .open {
        font-size: 20px;
    }

    .itito {
        font-size: 25px;
    }

    .insta {
        width: 40px;
    }

    .tell {
        width: 40px;
    }
}