.body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffdead;
}

.logo{
    width: 240px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.header {
    color: #fff;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.nav ul {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
}

.nav ul li {
    display: inline;
    margin-right: 3rem;
}

.nav ul li a {
    color: #161616;
    text-decoration: none;
}

.open {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    font-size: 60px; /* テキストのフォントサイズ */
    margin-top: 50px;
    text-align: center;
}

.day {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    font-size: 30px; /* テキストのフォントサイズ */
    margin-top: 50px;
    text-align: center;
}

.map {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    font-size: 30px; /* テキストのフォントサイズ */
    margin-top: 50px;
    text-align: center;
}

.phone {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    font-size: 30px; /* テキストのフォントサイズ */
    margin-top: 50px;
    text-align: center;
}

.time {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    font-size: 30px; /* テキストのフォントサイズ */
    margin-top: 50px;
    text-align: center;
}

.text2 {
    font-family: "Shippori Mincho B1", serif;
    font-weight: 800;
    font-style: normal;
    font-weight: 1000;/* ブラウザのデフォルトの筆記体フォントを使用 */
    font-size: 30px; /* テキストのフォントサイズ */
    margin-top: 50px;
    text-align: center;
}

.official {
    font-size: 25px;
    margin-bottom: 15px;
    
}

.insta {
    display: flex; 
    justify-content: center; /* 中央寄せ */
    align-items: center; /* 縦方向にも中央寄せ */
    margin-top:10px;
    margin-bottom: 10px;
    width: 60px;
    margin: 0 auto 50px;
}

.footer {
    text-align: center;
    padding: 1rem;
    background: #121212;
    color: whitesmoke;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 1rem;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }
}